* {
    --tab-hg-color: #BDC0C9;
}


[aria-selected="true"] > svg {
    color: var(--tab-hg-color);
    transform: scale(1.2);
}

.sidebar-tabs {
    transition: all 200ms;
    color: #303241;
}


.sidebar-tabs:hover {
    color: var(--tab-hg-color);
}